/* .css-b62m3t-container {
  .css-13cymwt-control {
    background-color: white;
    border-color: navy;

    &:hover {
      border-color: navy;
    }
  }

  .css-t3ipsp-control {
    background-color: rgb(239, 239, 244);
    border-color: navy;
    box-shadow: none;

    &:hover {
      border-color: blue !important;
    }
  }

  .css-1nmdiq5-menu {
    background-color: rgb(255, 255, 255);

    .css-10wo9uf-option {
      cursor: pointer;
      background-color: white;

      &:active {
        background-color: rgb(16, 198, 253);
      }
    }

    .css-d7l1ni-option {
      cursor: pointer;
      background-color: #39698a;
    }
  }

  .css-1p3m7a8-multiValue {
    background-color: rgb(106, 6, 255);
  }

  .css-wsp0cs-MultiValueGeneric {
    color: #ffff;
  }

  .css-12jo7m5 {
    color: #ffff;
  }

  .css-6j8wv5-Input,
  .css-qc6sy-singleValue {
    color: #ffff;
  }

  .css-1dimb5e-singleValue {
    color: rgb(255, 127, 1);
  }
} */